@inherits LayoutComponentBase
@inject RaidPlanner.Front.Services.UserStateService UserState

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 d-flex justify-content-between align-items-center">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>

            @if (UserState.CurrentUser is null)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="login">
                        <span class="bi bi-box-arrow-in-right" aria-hidden="true"></span> Se connecter
                    </NavLink>
                </div>
            }
            else
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="profile">
                        <span class="bi bi-person-circle" aria-hidden="true"></span> Mon profil
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <button class="nav-link btn btn-outline-light" @onclick="Logout">
                        <span class="bi bi-box-arrow-right" aria-hidden="true"></span> Se déconnecter
                    </button>
                </div>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    protected override void OnInitialized()
    {
        UserState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        UserState.OnChange -= StateHasChanged;
    }

    private void Logout()
    {
        UserState.Logout(); 
    }
}
