@inject RaidPlanner.Front.Services.UserStateService UserState

<div class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="Assets/Logo/Logo.png" alt="Logo" style="height: 40px;" />
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable">
    <nav class="flex-column py-2 px-3">
        <div class="nav-item mb-3">
            <NavLink class="nav-link text-white" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Accueil
            </NavLink>
        </div>

        @if (UserState.CurrentUser is null)
        {
            <div class="nav-item mb-3">
                <NavLink class="nav-link text-white" href="login">
                    <span class="bi bi-box-arrow-in-right" aria-hidden="true"></span> Se connecter
                </NavLink>
            </div>
            <div class="nav-item mb-3">
                <NavLink class="nav-link text-white" href="create-user">
                    <span class="bi bi-person-plus" aria-hidden="true"></span> Créer un utilisateur
                </NavLink>
            </div>
        }
        else
        {
            <div class="nav-item mb-3">
                <NavLink class="nav-link text-white" href="profile">
                    <span class="bi bi-person-circle" aria-hidden="true"></span> Mon profil
                </NavLink>
            </div>
            <div class="nav-item mb-3">
                <NavLink class="nav-link text-white" href="character">
                    <span class="bi bi-person-lines-fill" aria-hidden="true"></span> Voir mes personnages
                </NavLink>
            </div>
            <div class="nav-item mb-3">
                <NavLink class="nav-link text-white" href="create-character">
                    <span class="bi bi-person-plus" aria-hidden="true"></span> Créer un personnage
                </NavLink>
            </div>

                <div class="nav-item mb-3">
                    <NavLink class="nav-link text-white" href="raid">
                        <span class="bi bi-calendar-plus" aria-hidden="true"></span> Voir tous les raids
                    </NavLink>
                </div>


            <div class="nav-item mb-3">
                <NavLink class="nav-link text-white" href="create-availability">
                    <span class="bi bi-calendar-plus" aria-hidden="true"></span> Ajouter une disponibilité
                </NavLink>
            </div>
            <div class="nav-item mb-3">
                <NavLink class="nav-link text-white" href="Availability">
                    <span class="bi bi-calendar-check" aria-hidden="true"></span> Mes raids inscrits
                </NavLink>
            </div>
            <div class="nav-item mb-3">
                <NavLink class="nav-link text-white" href="create-raid-session">
                    <span class="bi bi-joystick" aria-hidden="true"></span> Creer session de raid
                </NavLink>
            </div>
            <div class="nav-item mb-3">
                <NavLink class="nav-link text-white" href="raid-sessions">
                    <span class="bi bi-joystick" aria-hidden="true"></span> Voir session de raid
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : "nav-open";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override void OnInitialized()
    {
        UserState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        UserState.OnChange -= StateHasChanged;
    }
}
