@inject RaidPlanner.Front.Services.UserStateService UserState

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <!-- Remplacer le texte par l'image du logo -->
        <a class="navbar-brand" href="">
            <img src="Assets/Logo/Logo.png" alt="Logo" style="height: 40px;" />
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        @if (UserState.CurrentUser is null)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="login">
                    <span class="bi bi-box-arrow-in-right" aria-hidden="true"></span> Se connecter
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="create-user">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Créer utilisateur
                </NavLink>
            </div>
        }
        else
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="profile">
                    <span class="bi bi-person-circle" aria-hidden="true"></span> Mon profil
                </NavLink>
            </div>
            <NavLink class="nav-link" href="character">
                <span class="bi bi-person-lines-fill" aria-hidden="true"></span> Voir personnage
            </NavLink>
            <NavLink class="nav-link" href="create-character">
                <span class="bi bi-person-lines-fill" aria-hidden="true"></span> Créer personnage
            </NavLink>
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collpse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override void OnInitialized()
    {
        UserState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        UserState.OnChange -= StateHasChanged;
    }
}
